# Given a pair of artists, return rank

sed -r 's/ +/,/' File_Name

In [2]:
import MySQLdb as mdb
import json
import pandas as pd
from pprint import pprint
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [3]:
import pandas as pd
import networkx as nx

In [4]:
dbname = 'music'
username = 'dan'
pswd = 'insight'

In [5]:
engine = create_engine('mysql://%s:%s@localhost/%s'%(username,pswd,dbname))

In [6]:
con = None
con = mdb.connect('localhost', username, pswd, dbname)

In [ ]:
df = pd.read_csv('artist',sep='<sep>')
tagdf = pd.read_csv('tags.txt')
mergedf = pd.merge(df, tagdf, on='Tag')

g = nx.from_pandas_dataframe(df, 'Artist', 'Tag', weight='CombinedCount')

nx.shortest_path_length(g, 'Metallica', 'Missy Elliot')

In [15]:
simArtists = pd.read_sql_table('relArtist',con='mysql://%s:%s@localhost/%s'%(username,pswd,dbname))

In [16]:
simArtists.head()

   index         Artist       RelArtist
0      0  Closterkeller        Don Omar
1      1  Closterkeller  Wisin & Yandel
2      2  Closterkeller       J Alvarez
3      3  Closterkeller   Alexis & Fido
4      4  Closterkeller          Yandel

In [17]:
g = nx.from_pandas_dataframe(simArtists,'Artist','RelArtist')

In [19]:
def artistPath( artist1, artist2):
    print nx.shortest_path_length( g, artist1, artist2)

In [21]:
artistPath( 'Radiohead', 'Metallica')

10

# Old stuff below

tagdf = pd.read_csv('tags.txt')
mergedf = pd.merge(df, tagdf, on='Tag')
graphdf = mergedf
graphdf['InvCount'] = 1.0/graphdf.Count
graphdf.head(10)
G = nx.from_pandas_dataframe(graphdf)
G = nx.from_pandas_dataframe(graphdf, 'Artist', 'Tag', edge_attr='Count')

G['Metallica']
graphdf['CombinedCount'] = graphdf.Count * graphdf.RawTagCount
graphdf.head()
graphdf['CombinedCount'] = graphdf.Count / graphdf.RawTagCount
graphdf.head()
G = nx.from_pandas_dataframe(graphdf, 'Artist', 'Tag', edge_attr='CombinedCount')

artistdf = pd.read_csv('artists.txt')

for i in artistdf.Artist[0:10]:
    print x.shortest_path_length(G, 'Yo-Yo Ma', i, weight='CombinedCount')
    
for i in artistdf.Artist[0:100]:
    print 'Yo-Yo Ma' + ',' + i + ',' + str(nx.shortest_path_length(G, 'Yo-Yo Ma', i, weight='CombinedCount'))