# Create a database of related artists from relArtist.csv

In [2]:
import MySQLdb as mdb
import json
import pandas as pd
from pprint import pprint
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [7]:
dbname = 'music'
username = 'dan'
pswd = 'insight'

In [8]:
engine = create_engine('mysql://%s:%s@localhost/%s'%(username,pswd,dbname))
#print engine.url

In [9]:
if not database_exists(engine.url):
    create_database(engine.url)
#print(database_exists(engine.url))

### Make sure relArtist.csv doesn't have any '+' for ' ', also remove additional ','

sed 's/+/ /g' relArtist.csv > relArtist_parse.csv
sed 's/,//2' relArtist.csv > relArtist_parse.csv
sed 's/,//2' relArtist.csv > relArtist_parse.csv

In [12]:
artist_df = pd.read_csv('relArtist_parse.csv')

In [15]:
con = None
con = mdb.connect('localhost', username, pswd, dbname)

In [16]:
artist_df.to_sql('relArtist',con,flavor='mysql')

/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:1003: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy connectables.
  dtype=dtype)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 1847
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 1854
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 10215
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 10220
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 23370
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 23377
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 26038
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 26045
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 27002
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 27009
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 29011
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 37401
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 37406
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 38638
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 38643
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 41395
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:1420: Warning: Data truncated for column 'RelArtist' at row 41402
  conn.executemany(self.insert_statement(), data_list)