# Create a database of related artists from relArtist.csv

In [1]:
import MySQLdb as mdb
import json
import pandas as pd
from pprint import pprint
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [2]:
dbname = 'music'
username = 'dan'
pswd = 'insight'

In [3]:
engine = create_engine('mysql://%s:%s@localhost/%s'%(username,pswd,dbname))
#print engine.url

In [4]:
if not database_exists(engine.url):
    create_database(engine.url)
#print(database_exists(engine.url))

### Make sure relArtist.csv doesn't have any '+' for ' ', also remove additional ','

sed 's/+/ /g' relArtist.csv > relArtist_parse.csv
sed 's/,//2' relArtist.csv > relArtist_parse.csv
sed 's/,//2' relArtist.csv > relArtist_parse.csv

In [5]:
artist_df = pd.read_csv('relArtist_parse.csv')

In [6]:
con = None
con = mdb.connect('localhost', username, pswd, dbname)

In [7]:
artist_df.to_sql('relArtistFull',con,flavor='mysql')

/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:1160: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy connectables.
  chunksize=chunksize, dtype=dtype)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3041
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3042
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3043
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3046
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3047
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3048
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3051
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3052
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 3053
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 4401
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 6346
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 6617
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 8454
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 8971
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 13956
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 15350
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 16101
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 16397
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 21210
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 22026
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 24914
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 26195
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 26355
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 29817
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 33711
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 36742
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 36950
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 37090
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 37275
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 39953
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 40978
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 42547
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 44304
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 44799
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 44800
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 44801
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 45729
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 46671
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 46676
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 48762
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 49519
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 54621
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 56276
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 57569
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 58879
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 59279
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 59441
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 60267
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 60936
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 63769
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 66967
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 67741
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 70056
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 75247
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 76532
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 77915
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 79290
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 79438
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 80882
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 82466
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 82467
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 83686
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 84256
  conn.executemany(self.insert_statement(), data_list)
/home/dcarmody/anaconda2/lib/python2.7/site-packages/pandas/io/sql.py:1441: Warning: Data truncated for column 'RelArtist' at row 85103
  conn.executemany(self.insert_statement(), data_list)